@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import 'palette';

:host {
  background-color: $au-gray-main;
}

.create-password {
  width: 390px;
  background-color: white;
  box-shadow: 0 7px 23px rgba(#000, .35);
  border-radius: 3px;
}

@include media-breakpoint-down(xs) {
  .create-password {
    width: 300px;
  }
}
