<div class="create-password" *ngIf="tokenValid">
  <app-logo class="d-flex align-items-center p-3"></app-logo>

  <form class="p-4 px-sm-5 py-sm-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="mb-2">
      Create a new password.
    </p>
    <p class="mb-4">
      You'll use this password to sign in to Company.
    </p>
    <df-input-container class="mb-3">
      <input type="password"
             id="password"
             formControlName="password"
             #passwordInput
             placeholder="Enter a password">
    </df-input-container>
    <div class="mb-4 d-flex flex-column flex-sm-row justify-content-between flex-wrap">
      <div class="mb-2">
        <i class="fa fa-check"
           aria-hidden="true"
           [class.df-icon--gray]="!length"
           [class.df-icon--green]="length">
        </i>
        8 character(s) minimum
      </div>
      <div class="mb-2 checks--right">
        <i class="fa fa-check"
           aria-hidden="true"
           [class.df-icon--gray]="!uppercase"
           [class.df-icon--green]="uppercase">
        </i>
        1 uppercase letter(s)
      </div>

      <div class="mb-2">
        <i class="fa fa-check"
           aria-hidden="true"
           [class.df-icon--gray]="!number"
           [class.df-icon--green]="number">
        </i>
        1 number(s)
      </div>
      <div class="mb-2 checks--right">
        <i class="fa fa-check"
           aria-hidden="true"
           [class.df-icon--gray]="!special"
           [class.df-icon--green]="special">
        </i>
        1 special character(s)
      </div>
    </div>
    <button class="btn-primary mb-4 w-100"
            type="submit"
            df-button
            [loading]="loading"
            [disabled]="isDisabled">
      Set Password
    </button>
  </form>
</div>

<app-copy-right class="d-flex align-items-center justify-content-between w-100 p-4"></app-copy-right>
