# IDEA
.idea
*.iml
*.ipr
*.iws
out

# Eclipse
# > the following should be created by `./gradlew eclipse`
.classpath
.project
# > ignore all eclipse settings by default
.settings

# Sublime
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Gradle
.gradle
build
gradle/wrapper

# Node / Angular

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
typings
yarn-error.log

# e2e
e2e/*.js
e2e/*.map
**/*.tgz

# System Files
.DS_Store
Thumbs.db

logs
