<div class="login">
  <app-logo class="d-flex align-items-center p-3"></app-logo>

  <form class="p-4 px-sm-5 py-sm-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="mb-3" *ngIf="!alert.show">To reset your password, enter the email address you normally use to login.</p>
    <div class="alert alert-{{ alert.error ? 'danger' : 'success'}}" role="alert" *ngIf="alert.show">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      <div class="alert_text">{{alert.message}}</div>
    </div>
    <df-input-container *ngIf="!alert.show">
      <input type="text" id="email" formControlName="email" #email placeholder="Email address" (blur)="onEmailBlur()">
    </df-input-container>
    <p class="mb-4 df-input__error" [class.invisible]="form.controls?.email?.valid">
      {{form.controls?.email?.errors?.invalidEmail}}
    </p>
    <button class="btn-primary mb-4 w-100"
            type="submit"
            df-button
            [loading]="loading"
            [disabled]="alert.show || isDisabled">
      Send Reset Instructions
    </button>
    <div class="d-flex justify-content-start align-items-center">
      <a class="link d-block text-right" routerLink="/login">
        <i class="fa fa-angle-double-left mr-1" aria-hidden="true"></i>
        Back to Login
      </a>
    </div>
  </form>
</div>

<app-copy-right class="d-flex align-items-center justify-content-between w-100 p-4"></app-copy-right>
