@import 'palette';

.notifications {
  &__title {
    font-size: 16px;
  }

  &__config {
    color: map-get($au-neutral, 5)
  }

  &__item {
    cursor: pointer;

    &--border {
      border-bottom: 1px solid map-get($au-gray, 2);
    }

    &--not-read {
      background-color: rgba($au-blue, 0.1);
    }

    &__image {
      width: 32px;
      height: 32px;
    }

    &__title {
      min-width: 0;
      white-space: normal;
    }

    &:hover {
      background-color: $au-hover-background;
    }
  }

  &__right-container {
    width: 85px;
  }
}
