<div class="d-flex flex-column col p-0 section__body">
  <h2 class="mb-3 pt-3 pt-lg-5 text-center">{{user.firstName}}, let's setup your Kayako!</h2>

  <h5 class="mb-3 mb-md-5 text-center text-secondary">
    Start creating better customer experiences with these four quick steps...
  </h5>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-3">
        <df-card class="mb-3 d-block action action--email"
                 [class.action--inactive]="!user.linkedEmail"
                 (click)="onCardClick('linkedEmail', linkedEmail, notLinkedEmail)">
          <h1 class="section__sub-header p-3 m-0">
            <i class="fa fa-check-circle mr-1"
               aria-hidden="true"
               [class.df-icon--gray]="!user.linkedEmail"
               [class.df-icon--green]="user.linkedEmail">
            </i>
            Start Receiving Emails
          </h1>
          <p class="mb-0 px-3 text-center action__message">
            Create your default Kayako email address, and forward your existing support emails here too.
          </p>
        </df-card>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <df-card class="mb-3 d-block action action--social"
                 [class.action--inactive]="!user.linkedSocial"
                 (click)="onCardClick('linkedSocial', linkedSocial, notLinkedSocial)">
          <h1 class="section__sub-header p-3 m-0">
            <i class="fa fa-check-circle mr-1"
               aria-hidden="true"
               [class.df-icon--gray]="!user.linkedSocial"
               [class.df-icon--green]="user.linkedSocial">
           </i>
            Link Your Social Accounts
          </h1>
          <p class="mb-0 px-3 text-center action__message">
            Connect your Twitter and Facebook pages to manage social support requests within Kayako.
          </p>
        </df-card>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <df-card class="mb-3 d-block action action--messenger" [class.action--inactive]="!user.activeMessenger">
          <h1 class="section__sub-header p-3 m-0">
            <i class="fa fa-check-circle mr-1"
               aria-hidden="true"
               [class.df-icon--gray]="!user.activeMessenger"
               [class.df-icon--green]="user.activeMessenger">
           </i>
            Start Using Kayako Messenger
          </h1>
          <p class="mb-0 px-3 text-center action__message">
            Switch on Kayako Messenger to enable live conversations when your team's online, and offline messaging when 
            they’re not.
          </p>
        </df-card>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <df-card class="mb-3 d-block action action--gang" [class.action--inactive]="!user.invitedGang">
          <h1 class="section__sub-header p-3 m-0">
            <i class="fa fa-check-circle mr-1"
               aria-hidden="true"
               [class.df-icon--gray]="!user.invitedGang"
               [class.df-icon--green]="user.invitedGang">
           </i>
            Invite The Gang
          </h1>
          <p class="mb-0 px-3 text-center action__message">
            Get your team onboard, so they can start replying to your customers.
          </p>
        </df-card>
      </div>
    </div>
  </div>
</div>

<!-- linked email -->
<ng-template #linkedEmail let-close="close">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col modal__header d-flex justify-content-between align-items-center py-3">
        <h1 class="mb-0">All set!</h1>
        <button class="px-2 position-relative btn-clean btn--sm modal__close" type="button" df-button (click)="close()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="mb-2 pro-tip pro-tip--blue pro-tip--gray-bg">
          Emails sent to your default email address will automatically become conversations in Kayako.
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-3 col-sm-2 d-none d-sm-flex align-items-center justify-content-center">
        <i class="fa fa-check-circle fa-4x df-icon--green d-none d-sm-block" aria-hidden="true"></i>
      </div>
      <div class="col-12 col-sm-10">
        <p class="mb-3">
          Try it out! Send an email and watch it appear in your inbox. You can edit, or add other email addresses in your 
          admin settings at any time.
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col d-flex flex-column flex-sm-row justify-content-end pt-3 modal__footer">
        <button class="btn-primary"
                type="button"
                df-button
                (click)="onLinkedCardNextStepClick(close, 'linkedSocial', linkedSocial, notLinkedSocial)">
          <span class="d-none d-sm-inline-block">Next step -</span> Link your social accounts
          <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- not linked email -->
<ng-template #notLinkedEmail>
  <!-- placeholder for when the user as not linked his mail yet -->
  <h5>placeholder</h5>
</ng-template>

<!-- linked social -->
<ng-template #linkedSocial let-close="close">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col modal__header d-flex justify-content-between align-items-center py-3">
        <h1 class="mb-0">All set!</h1>
        <button class="px-2 position-relative btn-clean btn--sm modal__close" type="button" df-button (click)="close()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-3 col-sm-2 d-none d-sm-flex align-items-center justify-content-center">
        <i class="fa fa-check-circle fa-4x df-icon--green d-none d-sm-block" aria-hidden="true"></i>
      </div>
      <div class="col-12 col-sm-10">
        <p class="mb-3">
          Your social mentions and messages are now flowing into your Kayako inbox. You can edit and add other social 
          accounts in your admin settings at any time.
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col d-flex flex-column flex-sm-row justify-content-end pt-3 modal__footer">
        <button class="btn-primary"
                type="button"
                df-button
                (click)="onLinkedCardNextStepClick(close, 'activeMessenger', activeMessenger, inactiveMessenger)">
          <span class="d-none d-sm-inline-block">Next step -</span> Start using Kayako Messenger
          <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- not linked social -->
<ng-template #notLinkedSocial let-close="close">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col modal__header d-flex justify-content-between align-items-center py-3">
        <h1 class="mb-0">Link Your Social Accounts</h1>
        <button class="px-2 position-relative btn-clean btn--sm modal__close" type="button" df-button (click)="close()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="row section__body social__wrapper">
      <div class="col-12 col-sm-6">
        <div class="row mb-5 mb-sm-0">
          <div class="mb-3 col-12 d-flex justify-content-center">
            <i class="fa fa-twitter fa-4x df-icon--twitter" aria-hidden="true"></i>
          </div>
          <div class="col-12">
            <p class="mb-3 font-weight-bold text-center">Connect your Twitter account</p>
            <p class="mb-3 text-center">
              Your team can have conversations with customers over Twitter. Kayako will create conversations for @ 
              mentions and direct messages.
            </p>
          </div>
          <div class="col-12 d-flex flex-column">
            <button class="btn-blue" type="button" df-button [disabled]="user.linkedTwitter">
              <span *ngIf="user.linkedTwitter; else noTwitter">Twitter account connected</span>
              <ng-template #noTwitter><span>Connect Twitter account</span></ng-template>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-4">
        <div class="row">
          <div class="mb-3 col-12 d-flex justify-content-center">
            <i class="fa fa-facebook-square fa-4x df-icon--facebook" aria-hidden="true"></i>
          </div>
          <div class="col-12">
            <p class="mb-3 font-weight-bold text-center">Connect your Facebook account</p>
            <p class="mb-3 text-center">
              Your customers can send messages from your Facebook page. Incoming messages are captured and added as new 
              conversations in Kayako.
            </p>
          </div>
          <div class="col-12 d-flex flex-column">
            <button class="btn-blue" type="button" df-button [disabled]="user.linkedFacebook">
              <span *ngIf="user.linkedFacebook; else noFacebook">Facebook page connected</span>
              <ng-template #noFacebook><span>Connect Facebook page</span></ng-template>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col d-flex flex-column flex-sm-row justify-content-end pt-3 modal__footer">
        <button class="btn-primary"
                type="button"
                df-button
                [loading]="loading"
                (click)="onCardConfirmationClick(close, 'linkedSocial', linkedSocial, notLinkedSocial)">
          <i class="fa fa-check ml-1" aria-hidden="true"></i>
          I'm done
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- active messenger -->
<ng-template #activeMessenger>
  <div class="p-3">
    active messenger placeholder - we will have a new screen here in the future
  </div>
</ng-template>

<!-- inactive messenger -->
<ng-template #inactiveMessenger>
  <div class="p-3">
    inactive messenger placeholder - we will have a new screen here in the future
  </div>
</ng-template>
