.action {
  height: 325px;
  background-repeat: no-repeat;
  cursor: pointer;

  &__message {
    position: absolute;
  }

  &--inactive {
    filter: grayscale(100%);
  }

  &--email {
    background-image: url(https://assets.kayako.com/images/welcome/emails-b317faea7810afc8d16dd9d804c8f69d.svg);
    background-position: center 91px;

    .action__message {
      bottom: 36px;
    }
  }
  
  &--social {
    background-image: url(https://assets.kayako.com/images/welcome/social-82d8f99b3d32288ca6b453dc5d705fdd.svg);
    background-position: center 55px;

    .action__message {
      bottom: 36px;
    }
  }
  
  &--messenger {
    background-image: url(https://assets.kayako.com/images/welcome/messenger-88283bf6e063a3e5eeb13c5a63e78e00.svg);
    background-position: center 55px;
    
    .action__message {
      bottom: 15px;
    }
  }
  
  &--gang {
    background-image: url(https://assets.kayako.com/images/welcome/agents-99be75c0a89aed0e7f4824afb3993664.svg);
    background-position: center 64px;

    .action__message {
      bottom: 57px;
    }
  }

  .section {
    &__sub-header {
      font-size: 15px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
  }
}

.social {
  &__wrapper {
    max-height: 350px;
  }
}

::ng-deep {
  .modal-welcome {
    &--no-linkedSocial {
      .df-modal__content {
        width: 91vw;
        max-width: 650px;
      }
    }
  }
}
