@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import 'palette';

:host {
  background-color: $au-gray-main;

  ::ng-deep {
    .df-select {
      &--shadow-box {
        padding-left: 0;
      }

      &__input-text {
        font-size: 14px;
      }
    }
  }
}

.login {
  width: 390px;
  background-color: white;
  box-shadow: 0 7px 23px rgba(#000, .35);
  border-radius: 3px;
}

.link {
  color: $au-gray-main;
}

@include media-breakpoint-down(xs) {
  .login {
    width: 300px;
  }
}
